/*清浮动*/
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.clearfix {
	zoom: 1;
}

/*通用*/
html, body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, object, code, legend, button, input, textarea, label, th, td, a, img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
body {
    font-size: 12px;
    font-family: Arial,Tahoma,"hiragino sans gb",Helvetica;
}
ul, li {
	list-style: none;
}
a {
    text-decoration: none;
	color: #333;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.hide {
	display: none;
}
img {
	border: 0 none;
}
