/*清浮动*/
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.clearfix {
	zoom: 1;
}

/*通用*/
html, body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, object, code, legend, button, input, textarea, label, th, td, a, img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
body {
    font-size: 12px;
    font-family: Arial,Tahoma,"hiragino sans gb",Helvetica;
}
ul, li {
	list-style: none;
}
a {
    text-decoration: none;
	color: #333;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.hide {
	display: none;
}
img {
	border: 0 none;
}
.f-toe {
	overflow: hidden;
	word-wrap: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.mgc {
  position: relative;
  width: 14px;
  height: 14px;
  background-clip: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: -0.15px 0.6px 0 0;
  vertical-align: text-bottom;
  border-radius: 3px;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  background-color: #fff;
  border: 1px solid #d7d7d7;
}
.mgc:checked:after {
  content: '';
  display: block;
  height: 3px;
  width: 5px;
  border: 0 solid #fff;
  border-width: 0 0 2px 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 2.5px;
  left: 3px;
}
.mgc:disabled {
  opacity: 0.65;
}
.mgc:focus {
  outline: none;
  //box-shadow: inset 0 1px 1px rgba(255,255,255,0.075), 0 0px 2px #38a7ff;
}
.mgc:checked {
  background-color: #fff;
  border-color: #d7d7d7;
}
.mgc:checked:after {
  border-color: #fff;
}
