@import url(com.css);

#top {
    width: 1050px;
    height: 120px;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid #ddd;
}
.top_logo {
    background: url(../images/frame_logo@2x.png) no-repeat;
    background-size: 295px 113px;
    width: 295px ;
    height: 113px;
    margin: 0;
    position: absolute;
    left: -114px;
    top: 0;

}
.top_logo .img_logo {
    opacity: 0;
}
.top_logo .logo {
    display: block;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 35px;
    left: 150px;
}
/*main*/
#main_page {
    width: 1050px;
    height: 626px;
    margin: 20px auto 0;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.left_area {
    width: 199px;
    border-right: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.3);
}
.right_area {
    width: 850px;
    position: relative;
}
/*左头*/
.left_top {
    height: 119px;
    background-color: transparent;
    text-align: center;
    padding: 45px 0 0;
    position: relative;
    //border-bottom: 1px solid #dce4e8;
}
.left_top .lhead {
    width: 45px;
    height: 45px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
}
.left_top i {
    display: block;
    height: 25px;
    background: url(../images/svip.png) center center no-repeat;
}
.left_top .slideLine {
    border-bottom: 1px solid #dce4e8;
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 0;
}

.left_top .user_info {
    width: 258px;
    height: 345px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 14px;
    position: absolute;
    top: 88px;
    left: -42px;
    z-index: 20;
}

.user_info .bot,
.user_info .top {
    width: 0;
    height: 0;
    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent #ddd;
    position: absolute;
    top: -24px;
    left: 115px;

}
.user_info .top {
    border-color: transparent transparent #fff;
    top:-22px;
}

.user_info .basic_info {
    height: 70px;
    border-bottom: 1px solid #ddd;
}
.user_info .basic_info li,
.user_info .basic_info span,
.user_info span {
    float: left;
}
.user_info .basic_info li {
    width: 75px;
    margin-top: 20px;
}
.user_info .basic_info li:first-child {
    margin-left: 14px;
}
.user_info .basic_info li a {
    font-size: 14px;
}
.user_info .basic_info li a:hover  {
    color: green;
}
.user_info .basic_info li p {
    color: #888;
}
.user_info .basic_info span,
.user_info span {
    width: 1px;
    height: 25px;
    margin-top: 25px;
    border-left: 1px solid #ddd;
}

.user_info .vip_info {
    height: 115px;
    border-bottom: 1px solid #ddd;
}
.vip_info li,
.pay_info li {
    clear: both;
}
.vip_info .vip_logo,
.pay_info .pay_logo {
    height: 25px;
    width: 25px;

    background-repeat: no-repeat;
    background-size: 25px 25px;
    line-height: 25px;
    float: left;
    margin: 25px 0 10px 15px;
}
.vip_info .vip_logo {
    background-image: url(../images/Diamonds1.png);
}
.vip_info .levelProgressBar {
    width: 170px;
    border-bottom: 1px solid #999;
    float: left;
    margin: 35px 0 0 15px;
}
.vip_info p,
.pay_info p {
    float: left;
    margin:0 0 6px 15px;
    color: #999;
}
.vip_info .open,
.pay_info .open {
    float: right;
    margin-right: 30px;
}
.vip_info .open:hover,
.pay_info .open:hover {
    color: green;
}

.user_info .pay_info {
    height: 115px;
    border-bottom: 1px solid #ddd;
}
.pay_info .pay_logo {
    background-image: url(../images/sui_g.png);
}
.user_info .home,
.user_info .exit {
    float: left;
    display: inline-block;
    width: 128px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.user_info .home:hover,
.user_info .exit:hover {
    color: green;
}
.user_info span {
    margin-top: 10px;
}
/*左身*/
.left_nav {
    height: 402px;
    overflow: auto;
    background-color: transparent;
}
.left_nav .navBox {
    margin:10px;
}
.left_nav .navBox dt {
    padding: 8px 5px;
    color: #999;
}
.left_nav .navBox dd {
    line-height: 25px;
    font-size: 14px;
    width: 170px;
}
.left_nav .navBox a {
    margin-left: 5px;
}
.left_nav .navBox .action {
    background-color: #3ac17e;
    display: block;
    border-radius: 2px;
    color: #fff;
}
.left_nav .list_add {
    position: relative;
}
.left_nav .list_add .add_songs {
    display: block;
    background-image: url(../images/add.png);
    height: 15px;
    width: 15px;
    background-size: 15px 15px;
    position: absolute;
    top:10px;
    right: 10px;

}
/*底部*/
.left_footer  {
    background-color: #f3f3f6;
    height: 60px;
    line-height: 60px;
}
.left_footer .m_play_controls {
    position: relative;
    height: 60px;
}
.left_footer .m_play_controls .m_play_btn {
    display: block;
/*    background-image: url(../images/icon_sprite@2x.png);
    background-repeat: no-repeat;*/
    overflow: hidden;
}
.m_play_controls .prev {
    width: 25px;
    height: 25px;
    background-image: url(../images/prevsong2.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    position: absolute;
    top: 15px;
    left: 15px;
}
.m_play_controls .ctrl-play{
    width: 30px;
    height: 30px;

    background-repeat: no-repeat;
    background-size: 30px 30px;
    position: absolute;
    top: 12.5px;
    left: 50px;
}
.m_play_controls .ctrl-play.play {
    background-image: url(../images/play2.png);
}
.m_play_controls .ctrl-play.paused {
    background-image: url(../images/play4.png);
}
.m_play_controls .next {
    width: 25px;
    height: 25px;
    background-image: url(../images/nextsong2.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    position: absolute;
    top: 15px;
    left: 90px;
}
.m_play_controls .volume-control {
    width: 20px;
    height: 20px;
    background-image: url(../images/vol1.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}
.m_play_controls .volume-control.muted {
    background-image: url(../images/muted.png);
}
.m_play_controls .volume-box {
    width: 40px;
    height: 100px;
    margin: 13px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 2px #ddd;
    position: absolute;
    top: -110px;
    right: 20px;
    background-color: #fff;
    visibility: hidden; /*设置不可见性，最好不要使用display:none，不然高度很难获取*/
}
.m_play_controls .volume-box.show {
    visibility: visible;
}
.volume-box .bot,
.volume-box .top {
    width: 0;
    height: 0;
    border-width: 12px;
    border-style: solid;
    border-color: #ddd transparent transparent ;
    position: absolute;
    bottom: -24px;
    left: 8px;
}
.volume-box .top {
    border-color: #fff transparent transparent;
    bottom:-22px;
}
.m_play_controls .volume {
    width: 3px;
    height: 70px;
    background-color: #cecfd4;
    position: absolute;
    top: 15px;
    right: 18px;
    cursor: pointer;

}

.m_play_controls .volume .volume-current,
.m_play_controls .volume .volume-event {
    display: inline-block;
    width: 3px;
    height: 70px;
    background-color: #3ac17e;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: height .2s linear;
    transition: height .2s linear;
}
.m_play_controls .volume .volume-event {
    width: 21px;
    left: -10px;
    background: none;
    height: 100%;
    z-index: 1;
}
.m_play_controls .volume .volume-bar {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #3ac17e;
    border: 1px solid #3ac17e;
    position: absolute;
    left: -3px;
    bottom: 50%;
    -webkit-transition: bottom .2s linear;
    transition: bottom .2s linear;
}
.m_play_controls .list-circular,
.m_play_controls .random-play,
.m_play_controls .single-circular {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    position: absolute;
    top: 20px;
    right: 15px;
}
.m_play_controls .list-circular {
    background-image: url(../images/cycle_list.png);
}
.m_play_controls .random-play {
    background-image: url(../images/random_cycle.png);
    background-size: 20px 20px;
    top: 18px;
    right: 18px;
}
.m_play_controls .single-circular {
    background-image: url(../images/cycle_one.png);
}
/*右边部分*/
.right_top {
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #999;
}
.top_search {
    position: relative;
}
.top_search a {
    display: block;
}
.searchBox {

}
.top_search .search_prve_btn{
    height: 20px;
    width: 20px;
    background-image: url(../images/left.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    position: absolute;
    top: 12px;
    left: 10px;
}
.top_search .search_next_btn{
    height: 20px;
    width: 20px;
    background-image: url(../images/right.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    position: absolute;
    top: 12px;
    left: 50px;
}
.top_search .searchBox {
    position: absolute;
    top:0;
    left: 100px;
}
.top_search .Set_up {
    height: 20px;
    width: 20px;
    background-image: url(../images/Set_up.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    position: absolute;
    top: 12px;
    right: 60px;
}
.top_search .streamline {
    height: 20px;
    width: 20px;
    background-image: url(../images/streamline.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    position: absolute;
    top: 12px;
    right: 25px;
}
.searchBox input {
    border: none;
    border-radius: 10px;
    width: 240px;
    height: 20px;
    background: url(../images/pos.png) 90px center no-repeat;
    background-size: 15px 15px;
    text-indent: 106px;
    background-color: #eaeaea;
}

.searchBox input:focus {
    background-position: 5px;
    text-indent: 25px;
}
.top_search i {
    display: block;
    width: 40px;
}
/*主体部分*/
.right_main {
    height: 520px;
    overflow: auto;
    border-bottom: 1px solid #ddd;
}
.ppt {
    height: 210px;
    width: 800px;
    position: relative;
    margin: 22px auto;

}
.ppt .poster_list {
    height: 255px;
    width: 800px;
}
.ppt .slide_prev {
    position: absolute;
    top: 0;
    left: 0;
    width: 137px;
    height: 210px;
}
.ppt .slide_next {
    position: absolute;
    top: 0;
    right: 0;
    width: 137px;
    height: 210px;
}
.poster_list li img {
//    width: 525px;
//    height: 210px;
}
.poster_list a, .poster_list img {
    display: block;
}
.poster_list .poster_item {
    position: absolute;
    top: 0;
    left: 0;
}
/*为你推荐*/
.music_info {
    height: 275px;
}
.music_info h2 {
    font-size: 14px;
    font-weight: lighter;
    display: block;
    margin: 10px 25px;
}
.music_info .music_recommed {
    height: 230px;
    background-color: #fafafa;
}
.re_img {
    margin-left: 25px;
//    position: relative;
}
.re_img img {
    display: block;
    width: 135px;
    height: 135px;
}
.re_img span {
    display: block;;
    width: 130px;
    height: 25px;
    line-height: 25px;
    background-color: #f1f1f1;
    padding-left: 5px;

}
.recommend .re_img a {
    text-decoration: none;
    display: block;
}
.recommend > a {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    padding: 10px 0 0 25px;
}
/*新歌首发*/
.new_singe {

}
.new_singe .newSing_title dt, .newSing_title dd {
    float: left;
}
.newSing_title dt {
    font-size: 14px;
    margin: 10px 0 0 25px;
}
.newSing_title dd  {
    display: block;
    font-size: 10px;
    color: #333;
    margin: 10px 0 0 25px;
}
.newSing_title i {
    display: block;
    float: left;
    margin: 10px 0 0 25px;
    color: #ddd;
}
.newSing_title {
    height: 45px;
    margin-top: 25px;
}
.newSing_main {
    margin: 0 25px 25px 25px;
    background-color: #fafafa;
    clear: both;
    border: 1px solid #fff;
    border-radius: 5px;
    height: 250px;
}
.newSing_nav {
    height: 35px;
    border-bottom: 1px solid #ddd;
    line-height: 35px;
}
.newSing_nav a,.Alb_PrveNext a {
    display: inline-block;
    /*background-image: url(../images/icon_sprite@2x.png);
    background-repeat: no-repeat;
    background-size: 108px 327px;*/
    overflow: hidden;

}

.newSing_nav .text_btn {

}
.newSing_nav .mod_play {
    width: 16px;
    height: 26px;
    text-indent: -99999px;
    background-image: url(../images/play1.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    margin-left: 25px;
}
.next_btn {
    width: 16px;
    height: 26px;
    text-indent: -99999px;
    background-image: url(../images/R1.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    margin-left: 15px;
}
.prve_btn {
    width: 16px;
    height: 26px;
    text-indent: -99999px;
    background-image: url(../images/L1.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    margin-left: 630px;
}
.newSing_info {
    width: 798px;
    height: 60px;
    float: left;
}
.newSing_info li {
    float: left;
    margin-right: 30px;
}
.newSing_info img {
    height: 45px;
    width: 45px;
    margin: 15px 10px 10px 25px;
    float: left;
}
.newSing_text {
    width: 145px;
    float: left;
    margin-top: 15px;
}
.newSing_text label {
    display: none;
}
.newSing_text p {
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
    overflow: hidden;
}
.newSing_text i {
    width: 20px;
    display: block;
}
.newSing_text a {
    color: #ccc;
}
/*专辑首发*/
.music_Albums {
    width: 100%;
    height: 280px;
    background: -webkit-linear-gradient(top,#fafafa,white);
    background: -moz-linear-gradient(top, #fafafa, rgba(255, 255, 255, 0.5));
    background: -o-linear-gradient(top, #fafafa, rgba(255, 255, 255, 0.5));
    position: relative;
}
.Alb_PrveNext,
.Pop_more .Pop_more_link {
    position: absolute;
    top: 10px;
    right: 40px;
}
.Alb_title, .Pop_title {
    height: 40px;
    line-height: 40px;
}
.Alb_content, .Pop_content {
    overflow: hidden;
    margin: 10px 12.5px;
    width: 825px;
}
.Alb_list,
.Pop_list {
    float: left;
    overflow: hidden;
    width: 825px;
}
.Alb_list li,
.Pop_list li {
    width: 135px;
    margin: 0 12.5px;
    float: left;
}

.Alb_list img,
.Pop_list img {
    width: 135px;
    height: 135px;
}
.Alb_list .icon_play {
    display: none;
}
.Alb_list li p ,
.Pop_list li p{
    line-height: 20px;
    height: 20px;
    margin-top: 3px;
    width: 135px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Alb_list .Alb_name {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
}
.Alb_list .Alb_name:hover,
.Alb_list .Alb_singer:hover,
.Pop_list .Singer_name:hover {
    color: green;
}
.Alb_list .Alb_singer {
    height: 20px;
    line-height: 20px;
}
/*热门歌手*/
.Pop_singer {
    height: 250px;
    background: -webkit-linear-gradient(top,#fafafa,white);
    background: -moz-linear-gradient(top, #fafafa, rgba(255, 255, 255, 0.5));
    background: -o-linear-gradient(top, #fafafa, rgba(255, 255, 255, 0.5));
    position: relative;
}
.Pop_list img {
    border: 0 none;
    border-radius: 50%;
}
.Pop_list li p {
    text-align: center;
}
/*底部*/
.right_footer {
    height: 60px;
    position: relative;
}
.wrap .head, .wrap .play, .wrap .m-pbar,
.wrap .down .wrap .other {
    float: left;
}
.wrap .head, .wrap .head img {
    width: 35px;
    height: 35px;
    //border-radius: 4px;
}
.wrap .head {
    margin: 10px 10px 10px 25px;
}
.wrap .mask {
    position: absolute;
    top:10px;
    left: 25px;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.wrap .mask:hover {
    opacity: 0.7;
    background: url(../images/playUp.png) center center no-repeat;
    background-size: 15px 15px;

}
.wrap .play {
    position: absolute;
    top: 10px;
    left: 65px;
    width: 420px;
}
.wrap .play .words {
    height: 16px;
    overflow: hidden;
    width: 330px;
}
.wrap .play .words .song {
    font-size: 13px;
    font-weight: bold;
    font-family: "微软雅黑";
}
.wrap .play .words a:hover {
    color: green;
}
.wrap .play .time {
    position: absolute;
    top: 0;
    left: 360px;
    color: #656565;
}
.wrap .play .time em {
    font-style: normal;
    font-weight: bold;
}
/*进度条*/
.paly * {
    box-sizing: content-box;
}
.wrap .m-pbar {
    position: absolute;
    top: 25px;
    left: 0;
}
.wrap .m-pbar .barbg {
    height: 2px;
    width: 420px;
    background-color: #cecfd4;
}
.wrap .m-pbar .barbg .buffer-process,
.wrap .m-pbar .barbg .current-process {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #3ac17e;
    z-index: 1;
}
.wrap .m-pbar .barbg .buffer-process {
    background-color: #aaa;
}
.barbg .cur_thumb {
    display: inline-block;
    position: absolute;
    top: 1px;
    left: 0;
    background-color: #3ac17e;
    border-radius: 50%;
    height: 7px;
    width: 7px;
    margin-top: -4px;
    cursor: pointer;
    z-index: 2;
    -webkit-transition: bottom .2s linear;
    transition: bottom .2s linear;
    visibility: hidden;
}
.barbg .cur_thumb.show {
    visibility: visible;
}
.wrap .down {
    position: absolute;
    top: 0;
    right: 225px;
    width: 60px;
    height: 60px;
    line-height: 60px;
}
.down a {
    margin-right: 10px;
}
.down a,
.other a {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 144px 432px;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -99999px;
}
.down .love {
    background-position: -81px -132px;
}
.down .download {
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 238px 720px;
    background-position: -133px -273px
}
.wrap .other {
    width: 200px;
    position: absolute;
    top: 0;
    right: 25px;
    height: 60px;
    line-height: 60px;
}
.other a {
    margin-left: 10px;
    cursor: pointer;
}
.other .more {
    background-size: 270px 816px;
    background-position:-59px -232px ;
}
.other .quality,
.other .Sound {
    font-family: "微软雅黑";
    text-indent: 0;
    background: none;
    width: 40px;
    height: 13px;
    line-height: 13px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 2px;
}
.other .Lyric-word {
    font-family: "微软雅黑";
    font-size: 15px;
    text-indent: 0;
    background: none;
    width: 15px;
    height: 15px;
    line-height: 15px;
    cursor: pointer;
}
.other .Playlist {
    background-image: url(../images/PlayList.png);
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    background-size: 15px 15px;
}
/*歌曲详细信息*/
.right_area .Song_details {
    height: 566px;
    width: 1050px;
    border-radius: 5px 5px 0 0;
    position: absolute;
    top: 0;
    left: -200px;
    background-color: #000;
    z-index: 22;
    visibility: hidden;
}
.right_area .Song_details.show {
    visibility: visible;
}
.Song_details .bgimg {
    height: 566px;
    width: 1050px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/newsing8.jpg);
    background-position: center center;
    background-size: 100%;
    -webkit-filter: blur(35px) opacity(0.5);
    filter: blur(25px) opacity(0.5);

}
.Song_details .details_top {
    width: 20px;
    height: 20px;
    display: block;
    margin: 15px;
    background-image: url(../images/downward1.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
.Song_details .details_info {
    position: relative;
}
.Song_details .details_info img {
    width: 260px;
    height: 260px;
    background-image: url(../images/newsing8.jpg);
    background-repeat: no-repeat;
    background-size: 260px 260px;
    position: absolute;
    top: 110px;
    left: 170px;
}
.details_info .b-music-title {
    position: absolute;
    top: 50px;
    left: 535px;
}
.details_info .b-music-title h2,
.b-music-title a {
    font-size: 24px;
    font-weight: lighter;
    color: #fff;
    width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.details_info .b-music-title a {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    color: #777;
    width: 150px;
}
.details_info .b-music-title a:hover {
    color: green;
}
.details_info .m-music-lyric-wrap {
    font-family: '兰亭黑';
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: absolute;
    top: 130px;
    right: 215px;
    margin-top: 20px;
    color: #ddd;
}
.details_info .m-music-lyric-wrap .u-lyric{
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}
.details_info .m-music-lyric-wrap .current {
    color: #3ac17e;
}
.details_info .m-music-lyric-wrap .inner {
    height: 100%;
    background-image:-webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5));
    background-image: linear-gradient(top,rgba(0,0,0,.5),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5));
}
/*歌曲列表*/
.m-music-list-wrap {
    width: 314px;
    height: 564px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 21;
    box-shadow: 0 0 2px #ddd;
    visibility: hidden;
}
.m-music-list-wrap.show {
    visibility: visible;
}
.m-music-list-wrap .list-title {
    height: 70px;
    background-color: #fcfcfc;
}
.m-music-list-wrap .Song-list {
    overflow: auto;
}
.m-music-list-wrap .Song-list li {
    height: 60px;
    text-align: center;
    line-height: 60px;
}
